@import "./variables";

article.card_widget{
	width: 100%;
	max-width: Rem(370px);
	background: $white;
	border-radius: Rem(5px);
	box-shadow: 0px 0px Rem(12px) 0px rgba(189, 53, 1, 0.5);
	overflow: hidden;
	@include flexWrap;
	justify-content: space-between;
	margin: 0 Rem(20px) Rem(32px) 0;

	.image_wrapper{
		background: #e86741;
		height: Rem(207px);
		width: 100%;
		overflow: hidden;
		
		img{
			width: auto;
			height: 100%;
			display: block;
		}
	}
	.info_wrapper{
		padding: Rem(25px) Rem(20px);
		box-sizing: border-box;
		@include flexCenter;

		.profile_image{
			width: Rem(87px);
			height: Rem(87px);
			border-radius: 50%;
			border-radius: 50%;
			border: solid 1px #d4cfca;
			flex: none;
			margin-right: Rem(15px);

			@include flexCenter;
			background: transparent;
			position: relative;

			.image_container{
				width: Rem(77px);
				height: Rem(77px);
				border-radius: 50%;
				position: relative;
				overflow: hidden;

				img{
					width: auto;
					height: 100%;
				}	
			}
			
			
		}
		.profile_info{
			@include flexWrap;

			h1{
				@include font-size(28px);
				color: #5c5146;
				margin-bottom: Rem(5px);
			}
			.content{
				color: #8e8071;
				@include font-size(13px);
			}
		}
	}
	.bottom_stats{
		background: #f6f0ec;
		@include flexCenter;
		height: Rem(48px);

		.count{
			@include font-size(15px);
			font-weight: 400;
		}


		.views,
		.comments{
			border-right: solid 1px $white;
		}

		.views,
		.comments,
		.likes{
			flex: 1;
			height: 100%;
			@include flexCenter;

			&.hidden{
				display: none;
			}

			.icon{
				@include flexCenter;
				width: Rem(16px);
				height: Rem(16px);
				margin-right: Rem(5px);

				img{
					width: 100%;
				}	
			}
		}
		.views{
			.views_count{
				color: #8e8071;
			}
		}
		.comments{
			.comments_count{
				color: #8e8071;
			}
		}
		.likes{
			.likes_count{
				color: #e86741;
			}
		}	
	}
}

