@import "./variables";

footer{
	bottom: 0;
	width: 100%;
	padding: Rem(10px) Rem(30px);
	box-sizing: border-box;
	background: $white;
	@include flex;
	align-items: center;
	box-shadow: 0px Rem(9px) Rem(7px) Rem(7px) rgb(154, 154, 154);

	.website{
		width: 100%;
		text-align: center;
		font-weight: 300;
		a{
			color: #e86741;
			text-decoration: none;
			width: 100%;
		}
	}
	ul.languages{
		@include flex;
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			width: 1.7rem;

			&:first-child{
				margin-right: 0.5rem;
			}

			img{
				width: 100%;
			}

			&.english{
				
			}
			&.spanish{

			}
		}
	}
}