@import "./variables";

article.forex_widget{
	width: 100%;
	max-width: Rem(283px);
	min-height: Rem(437px);
	background: $white;
	border-radius: Rem(5px);
	box-shadow: 0px 0px Rem(12px) 0px rgba(189, 53, 1, 0.5);
	overflow: hidden;
	@include flexWrap;
	justify-content: space-between;
	margin: 0 0 Rem(32px) 0;

	.stats_wrapper{
		height: Rem(151px);
		overflow: hidden;
		background: #54bc75;
		position: relative;
		padding: Rem(12px) Rem(16px) Rem(20px) Rem(16px);
		box-sizing: border-box;

		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			display: block;
			background: #4daf7b;
		}

		.chart{

		}
		.summary_wrapper{
			.open_val{
				@include font-size(24px);
				color: $white;
				font-weight: 300;
			}
			.close_val{
				font-weight: 300;
				line-height: Rem(12px);
				margin-left: Rem(3px);
				@include font-size(14px);
				color: transparentize($white, 0.5);
			}
		}
	}
	.forex_wrapper{
		flex: 1;
		padding: Rem(30px) Rem(21px) Rem(0px) Rem(21px);

		.location_wrapper{
			margin-bottom: Rem(18px);
			.location{
				color: transparentize(#8e8071, 0.3);
				@include font-size(12px);
			}
			.title{
				color: #8e8071;
				@include font-size(20px);
				font-weight: 300;
			}
		}
		.forex_summary{
			@include flexCenter;
			background: #f6f0ec;

			.open,
			.close{
				flex: 1;
				padding: Rem(13.5px) 0;

				.open_value,
				.close_value{
					font-size: Rem(18px);
					color: #8e8071;
					text-align: center;
				}
				.description{
					font-size: Rem(12px);
					color: #ad9e8e;
					text-align: center;
				}
			}
			.open{
				border-right: solid 1px $white;
				.open_value{

				}
				.description{

				}
			}
			.close{
				.close_value{

				}
				.description{
					
				}
			}
		}
	}
	.bottom_stats{
		flex: 1;
		display: inline-block;
		@include flexCenter;
		padding: Rem(0px) Rem(21px) Rem(20px) Rem(21px);

		.average_wrapper{
			flex: 1;
			.title{
				color: #8e8071;
				@include font-size(14px);
				font-weight: 300;
			}
			.stats_average{

			}
		}
		.yearly_change_wrapper{
			display: inline-block;
			.title{
				font-size: Rem(14px);
				color: transparentize(#584b37, 0.4);
				margin-bottom: Rem(7px);
			}
			.yearly_change{
				background: #4daf7b;
				@include font-size(18px);
				color: $white;
				border-radius: Rem(2px);
				text-align: center;
				padding: Rem(8px) Rem(14px);

			}
		}
	}
}