@import "./variables";

*{
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin-top: 0;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: $background_color;
	font-family: $mainFont;
	font-size: 16px;
	overflow-x: hidden;
}

