@import "./variables";

.main_wrapper{
	@include gradient(#fe8c00, #f83600, horizontal);

	.widgets_container{
		@include flexCenter;
		align-items: flex-start;


		.user_posts_wrapper{
			flex: 1;
			margin: 2rem;
			display: flex;
			flex-wrap: wrap;
		}
		.sidebar_wrapper{
			width: 17.7rem;
			margin: 2rem 2rem 0 0;
		}
	}
}