@import "./variables";

article.menu_widget{
	box-shadow: 0px 0px Rem(12px) 0px rgba(171, 139, 110, 0.38);
	background: $white;
	@include flex;

	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		@include flex;

		li{
			@include flexCenter;
			padding: Rem(20px) Rem(25px);
			border-right: solid 1px #f6f0ec;
			background: $white;
			transition: background 0.7s ease;
			cursor: pointer;
			position: relative;

			&:hover{
				background: #54bc75;

				&:after{
					opacity: 1;
					background: #337347;
				}

				.icon{
					color: #337347;
				}

				.title{
					color: $white;
				}
			}
			&.active{
				&:after{
					opacity: 1;
					background: #54bc75;
				}
			}

			&:last-child{
				border-right: 0;
			}

			&:after{
				content: '';
				width: 100%;
				height: Rem(5px);
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				background: #54bc75;
				opacity: 0;
				transition: all 0.7s ease;
			}

			.icon{
				color: #8e8071;
				margin-right: Rem(10px);

				span{
					font-size: Rem(30px);
				}
			}
			.title{
				@include flex;
				align-items: flex-start;
				@include font-size(17px);
				color: #8e8071;
				font-weight: 600;

				.notification{
					font-size: Rem(8px);
					padding: Rem(3px);
					background: #e55e3a;
					border-radius: 50%;
					width: Rem(9px);
					height: Rem(9px);
					color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: Rem(3px);
					margin-top: Rem(-7px);

					&.hidden{
						display: none;
					}
				}
			}
		}
	}
	.main_title{
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 2rem;
		font-size: 1.3rem;
		color: #8e8071;
	}
}