@import "./variables";

article.user_widget{
	width: 100%;
	max-width: Rem(283px);
	min-height: Rem(312px);
	background: $white;
	border-radius: Rem(5px);
	box-shadow: 0px 0px Rem(12px) 0px rgba(189, 53, 1, 0.5);
	overflow: hidden;
	@include flexWrap;
	justify-content: space-between;
	margin: 0 0 Rem(32px) 0;

	.user_wrapper{
		background: #b1a599;
		@include flexCenter;
		padding: Rem(21px) Rem(17px);
		box-sizing: border-box;

		.profile_image{
			width: Rem(90px);
			height: Rem(90px);
			border-radius: 50%;
			border-radius: 50%;
			border: solid 1px #8a7e72;
			flex: none;
			margin-right: Rem(15px);

			@include flexCenter;
			background: transparent;
			position: relative;

			.image_container{
				width: Rem(75px);
				height: Rem(75px);
				border-radius: 50%;
				position: relative;
				overflow: hidden;

				img{
					width: 100%;
					height: auto;
				}	
			}
		}
		.profile_info{
			h1{
				@include font-size(17px);
				line-height: Rem(18px);
				margin-bottom: Rem(4px);
				color: $white;
				font-weight: 600;
			}
			.followers{
				color: #857a70;
				@include font-size(13px);
			}
		}
	}

	.user_menu_wrapper{
		box-shadow: 0px -2px 14px -2px rgba(119, 112, 104, 0.75);

		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				position: relative;
				width: 100%;
				overflow: hidden;
				@include transition(background 0.7s ease);
				padding: Rem(15px) Rem(10px) Rem(15px) Rem(20px);
				box-sizing: border-box;
				cursor: pointer;
				@include flexCenter;

				&:before{
					content: '';
					width: Rem(3px);
					height: 100%;
					display: block;
					position: absolute;
					background: #4daf7b;
					left: 0;
					top: 0;
					opacity: 0;
					@include transition(opacity 0.7s ease);
				}
				&:hover,
				.active{
					background: #f8f3f0;

					&:before{
						opacity: 1;
					}

					.icon{
						img{

							&.normal{
								opacity: 0;
								z-index: -100;
							}
							&.hover{
								opacity: 1;
								z-index: 1;
							}
						}
					}
				}
				.title{
					flex: 1;
					color: #8e8071;
				}
				.icon{
					width: Rem(30px);
					height: Rem(30px);
					overflow: hidden;
					position: relative;

					img{
						width: 60%;
						height: auto;
						opacity: 0;
						position: absolute;
						left: 0;
						right: 0;
						margin: 0 auto;
						top: Rem(4px);
						@include transition(opacity 1s ease);

						&.normal{
							opacity: 1;
						}
						&.hover{
							opacity: 0;
							z-index: -100;
						}

					}
				}
			}
		}
	}


}