@import "./utils";
@import "./fonts";
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


//COLOR
$white:                             #ffffff;
$black:                             #000000;

//HEADER


//STRUCTURE
$background_color:                  #ffffff;

//FOOTER



//FONTS
$mainFont:                          'Open Sans';
$contentColor:                      #000000;





//Responsive Media Queries
@mixin desktopMax {
    @media screen and (max-width: 1920px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (max-width: 1366px) {
        @content;
    }
}
@mixin desktopSmall {
    @media screen and (max-width: 1279px) {
        @content;
    }
}
@mixin tabletMax {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 1023px) {
        @content;
    }
}
@mixin tabletMin {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobileMax {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}
@mixin mobileMaxL {
    @media screen and (max-width: 640px) and (orientation: landscape) {
        @content;
    }
}

@mixin mobileBig {
    @media screen and (max-width: 414px) {
        @content;
    }
}
@mixin mobileBigL {
    @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) { 
            @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 375px) {
        @content;
    }
}
@mixin mobileL {
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) { 
        @content;
    }
}
@mixin mobileAndroid {
    @media screen and (max-width: 360px) {
        @content;
    }
}
@mixin mobileAndroidL {
    @media screen and (max-height: 400px) {
        @content;
    }
}
@mixin mobileMin {
    @media screen and (max-width: 320px) {
        @content;
    }
}

@mixin mobileMinL {
    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        @content;
    }
}

